<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @scene.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @scene.description %>
</p>

<p>
  <strong>Story:</strong>
  <%= @scene.story_id %>
</p>

<%= link_to 'New Rule', new_story_scene_rule_path(@story, @scene), :class => "btn btn-primary" %>