<h1>Stories</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Default char name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.title %></td>
        <td><%= truncate(story.description, :length => 100) %></td>
        <td><%= story.default_char_name %></td>
        <td><%= link_to 'Show', story, :class => "btn btn-sm btn-default" %></td>
        <td><%= link_to 'Edit', edit_story_path(story), :class => "btn btn-sm btn-default" %></td>
        <td><%= link_to 'Destroy', story, :class => "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path, :class => "btn btn-primary" %>
