<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @story.description %>
</p>

<p>
  <strong>Default char name:</strong>
  <%= @story.default_char_name %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |

<h2>Scenes</h2>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Story</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @story.scenes.each do |scene| %>
      <tr>
        <td><%= scene.title %></td>
        <td><%= truncate(scene.description, :length =>100) %></td>
        <td><%= scene.story_id %></td>
        <td><%= link_to 'Show', story_scene_path(@story, scene), :class => "btn btn-sm btn-default" %></td>
        <td><%= link_to 'Edit', edit_story_scene_path(@story, scene), :class => "btn btn-sm btn-default" %></td>
        <td><%= link_to 'Destroy', story_scene_path(@story, scene), :class => "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Scene', new_story_scene_path(@story), :class => "btn btn-primary" %>

<h2>Assets</h2>
<table class="table">
  <thead>
    <tr>
      <th>Asset type</th>
      <th>Name</th>
      <th>Description</th>
      <th>Durability</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @story.assets.each do |asset| %>
      <tr>
        <td><%= asset.asset_type %></td>
        <td><%= asset.name %></td>
        <td><%= truncate(asset.description, :length => 100) %></td>
        <td><%= asset.durability %></td>
        <td><%= link_to 'Show', story_asset_path(@story, asset), :class => "btn btn-sm btn-default" %></td>
        <td><%= link_to 'Edit', edit_story_asset_path(@story, asset), :class => "btn btn-sm btn-default" %></td>
        <td><%= link_to 'Destroy', story_asset_path(@story, asset), :class => "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Asset', new_story_asset_path(@story), :class => "btn btn-primary" %>


<%= link_to 'Back', stories_path %>
