<h1>Listing rules</h1>

<table>
  <thead>
    <tr>
      <th>Scene</th>
      <th>Asset</th>
      <th>State</th>
      <th>Inequality</th>
      <th>Inequality value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rules.each do |rule| %>
      <tr>
        <td><%= rule.scene_id %></td>
        <td><%= rule.asset_id %></td>
        <td><%= rule.state %></td>
        <td><%= rule.inequality %></td>
        <td><%= rule.inequality_value %></td>
        <td><%= link_to 'Show', story_scene_rule_path(@story, @scene, rule) %></td>
        <td><%= link_to 'Edit', edit_story_scene_rule_path(@story, @scene, rule) %></td>
        <td><%= link_to 'Destroy', story_scene_rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rule', new_story_scene_rule_path %>
