<p id="notice"><%= notice %></p>

<p>
  <strong>Scene:</strong>
  <%= @rule.scene_id %>
</p>

<p>
  <strong>Asset:</strong>
  <%= @rule.asset_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @rule.state %>
</p>

<p>
  <strong>Inequality:</strong>
  <%= @rule.inequality %>
</p>

<p>
  <strong>Inequality value:</strong>
  <%= @rule.inequality_value %>
</p>

<%= link_to 'Edit', edit_story_scene_rule_path(@story, @scene, @rule) %> |
<%= link_to 'Back', story_scene_rules_path %>
